/* Week 3 coding boot camp homework */

body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;

	background-image: url("../images/rug.jpg");
	background-repeat: no-repeat;
}

header {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	background-color: #d72984;
}

.container {
	max-width: 640px;
	margin: 20px auto;
	padding: 2%;
	overflow: auto;
	border: solid;
	border-radius: 5px;
	background-color: #01a24c;
}

.message {
	width: 300px;
	padding: 20px;
	margin: auto;
	text-align: center;
}


.panel {
	width: 300px;
	min-height: 85px;
	padding: 10px;
	float:left;
	text-align: center;
}

#flag-image {
	display:block;
	margin:auto;
	padding: 12px;
	width: 150px;
	height: 150px;
}

#current-word {
	letter-spacing: 4px;
}