/* Week 3 coding boot camp homework */

body {
	font-family: Georgia, serif;
	font-weight: bold;
		font-style: italic;
	background-image: url("../images/rug.jpg");
	background-repeat: no-repeat;
}

h1 {
	color: #ffffff;
	text-shadow: 2px 2px #ff0000;
}

.page-header {
	background-color: #d72984;
	padding: 10px;
}

.container {
	background-color: #01a24c;
	margin-top: 40px;
}

#flag-image {
	padding: 10px; */
	width: 150px;
	height: 150px;
}

#current-word {
	letter-spacing: 4px;
}

@media screen and (min-width: 992px) {

	.container {max-width: 720px;}

}
